<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Bem-vindo ao Jogo "5 Sentidos"!</h1>
  <ul>
    <% plants.forEach(plant => { %>
      <li>
        <a href="/plant/<%= plant.id %>">
          <%= plant.name %>
        </a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
